html,
body {
  
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #444;
    color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.estrutura{
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 1;
  border-left: 5px solid brown;
  border-top: 5px solid brown;
  border-right: 5px solid brown;
  width: 90%;
  background-color: #0007;
}

.selecionada{
  border-left: 5px solid yellow;
  border-top: 5px solid yellow;
  border-right: 5px solid yellow;
  color: yellow;
}
.selecionada .sc-bwANAz{
  background-color: yellow;
}

:root{
  --area-porta-altura: 310px;
  --area-porta-largura: 200px;
}